<div class="myreservelist_wrapper">
  <!-- addへのリンク -->
  <div class="round_add">
    <a class="page_link" href="/reserve_add">
      <i class="fas fa-plus"></i>
    </a>
  </div>
  <!-- sitterpageへのリンク -->
  <div class="round_back">
    <a class="page_link" href="/sitterpage">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
  <div class="bg-mask">
    <div class="myreservelist_panel">
      <h1 class="page_title">Reserve List</h1>
      <!-- 予約リスト -->
      <div class="myreservelist_area">
        <% @res.each do |row| %>
          <div class="myreservelist">
            <div class="reservedate_box">
              <ul>
                <li>
                  <i class="fas fa-calendar-alt"></i> <%= row['date'] %></li>
                <li>
                  <i class="fas fa-clock"></i> <%= row['start_time'] %>〜<%= row['end_time'] %></li>
              </ul>
            </div>
            <div class="reserveedit_box">
              <a class="page_link" href="/reserve_edit/<%= row['id'] %>">
                <div class="round_edit<%= row['reservation'] %>">
                  <i class="fas fa-pen"></i>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
